body {
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #004358;
    background-color: #EFEFEF;
}

* {
    color: inherit;
    font-family: inherit;
}

.mainControl {
    width: 8em;
    height: 3em;
    border: 1px solid #CDCDCD;
    background-color: #EFEFEF;
}

input {
    border: none;
    width: 8em;
    display: block;
}

input:disabled {
    color: inherit;
}

.wrapper {
    display: inline-block;
    margin-top: 3em;
}

.container, .navContainer {
    margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;
}
.container {
    padding: 1em;
    border: 1px solid #CDCDCD;
    z-index: 0;
    position: relative;
    margin: 0 auto;
    margin-top: -1px;
}
.container-hidden {
    display: none;
}
.navContainer {
    position: relative;
    text-align: left;
    z-index: 1;
    background-color: transparent;
}
.timeDisplay, .timeDisplayFinished, .timeDisplayActive {
    margin: 0;
    font-size: 3em;
    text-align: center;
    border: none;
    background-color: inherit;
}
.displayContainer {
    padding-top: 0.6em;
    padding-bottom: 1em;
    text-align: center;
}
.timeDisplayFinished {
    background-color: #ffd3ca;
}
.timeDisplayActive {
    background-color: #bfdcef;
}
.navControl, .navControlActive {
    border: 1px solid #CDCDCD;
    border-left: none;
    width: 25%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1em;
}
.navContainer:first-child {
    border-left: 1px solid #CDCDCD;
}
.navControlActive {
    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}
:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}

#tabataPreferences {
    margin: 0 auto;
    display: inline-block;
    padding: 1em;
}

#tabataSlots, #tabataCycles {
    width: 3em;
}
#tabataPreferences label {
    display: block;
    text-align: right;
    margin: 0 auto;
    margin-bottom: 1em;
}
#tabataPreferences label input {
    margin-left: 1em;
    display: inline-block;
}

#timerContainer .timeDisplayActive {
    background-color: inherit;
}

.recentylUsedContainer {
    margin-top: 2em;
    text-align: center;
    padding: 0 3em;
}
.recentlyUsedButton {
    border: none;
    display: block;
    font-size: 1em;
    background-color: #FFFFFF;
}
#timerRecentylUsedContainer .recentlyUsedButton {
    margin: 0.1em auto 0 auto;
}

.clearButton {
    display: block;
    font-size: 1em;
    border: 1px solid #CDCDCD;
    background-color: #EFEFEF;
    width: 4em;
    height: 1.5em;
    margin: 0 auto;
    margin-top: 0.5em;
}

.lapsDisplay {
    font-size: 0.5em;
}

#stopwatchLapsHidden {
    display: none;
}
#stopwatchLaps {
    display: block;
    margin-top: 2em;
}
#laps {
    display: block;
}

button:hover {
    cursor: pointer;
    background-color: white;
}
.recentlyUsedDisplay button:hover, .clearButton:hover {
    cursor: pointer;
    background-color: white;
}
.recentlyUsedCaption {
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 0.4em;
    margin-bottom: 0.5em;
}
